<li><a href="http://forum.plyoung.com" target="_blank" class="no_icon" title="Support"><i class="ply ico-forum"></i> Support</a></li>
<li><a href="contact.html" class="no_icon" title="Contact"><i class="ply ico-contact"></i> Contact</a></li>
<li><a href="https://twitter.com/pl_young" target="_blank" class="no_icon" title="Twitter"><i class="ply ico-twit"></i></a></li>
<li><a href="https://plus.google.com/+PLYoung" target="_blank" class="no_icon" title="Google+"><i class="ply ico-gplus"></i></a></li>
<li><a href="https://www.facebook.com/plyounggames/" target="_blank" class="no_icon" title="Facebook"><i class="ply ico-fb"></i></a></li>
