@font-face {
	font-family:'plyoung_icons';
	src:url('plyoung_icons.eot?wylzlo');
	src:url('plyoung_icons.eot?wylzlo#iefix') format('embedded-opentype'),
		url('plyoung_icons.ttf?wylzlo') format('truetype'),
		url('plyoung_icons.woff?wylzlo') format('woff'),
		url('plyoung_icons.svg?wylzlo#plyoung_icons') format('svg');
	font-weight:normal;
	font-style:normal;
}

i.ply {
	font-family: 'plyoung_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-support:before {
	content: "\e053";
}
.ico-contact:before {
	content: "\e07c";
}
.ico-star2:before {
	content: "\e260";
}
.ico-star1:before {
	content: "\e261";
}
.ico-star0:before {
	content: "\e262";
}
.ico-games:before {
	content: "\e2e2";
}
.ico-info:before {
	content: "\f05a";
}
.ico-store:before {
	content: "\f07a";
}
.ico-linkd:before {
	content: "\f08c";
}
.ico-twit:before {
	content: "\f099";
}
.ico-tile-simple:before {
	content: "\f0c8";
}
.ico-gplus:before {
	content: "\f0d4";
}
.ico-forum:before {
	content: "\f0e6";
}
.ico-tube:before {
	content: "\f167";
}
.ico-tube2:before {
	content: "\f16a";
}
.ico-blox:before {
	content: "\f1b2";
}
.ico-fb:before {
	content: "\f230";
}
.ico-diaq:before {
	content: "\f27b";
}
.ico-unirpg:before {
	content: "\e905";
}
.ico-tileed:before {
	content: "\e904";
}
.ico-vinoma:before {
	content: "\e902";
}
.ico-mapnav:before {
	content: "\e903";
}
.ico-plyoung:before {
	content: "\e901";
}
.ico-unity:before {
	content: "\e900";
}

